@media screen and (max-width: 500px) {
  .logo-menu {
    display: none;
  }

  header {
    justify-content: space-around;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    top: 8%;
    padding: 20px;
    background-color: #687186;
    z-index: 4444;
    border-radius: 10px;

    
    
 
}


  .header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menu {
    display: none;

  }

  .menu.show-menu {
    display: flex;
    
}

  /* End-Header */
  main {
    position: relative;
    right: 3%;
  }

  .mid-page {
    right: 8%;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    width: 320px;
  }

  .container .title-main h1 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .container .text {
    width: 294px;
    height: 80px;
  }

  .container .text p {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
  }

  .container .btn button {
    width: 244px;
    height: 55px;
  }

  .featured-content {
    left: 3%;
    width: 100%;
  }

  .col-1 {
    width: 356px;
    margin: 10px;
  }

  .mid-page .box {
    margin-left: 30px;
    width: 100%;

    height: auto;
  }

  .box .text-1 {
    padding-left: 47px;
  }

  .box .text-1 p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .box .line {
    margin-left: 13px;
  }

  .mid-page .contnet {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .cont-1 {
    margin: 20px;
  }

  .text-mid {
    margin-left: 30px;
  }

  .text-mid h2 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
  }

  .text-mid p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    width: 334px;
    height: 133px;
  }

  .middle-section .box-2 {
    width: 97%;
    height: 1097px;
  }

  .box-2 .main-box-2 {
    width: 90%;
    left: 7%;

  }

  .box-2 .title-box-2 h5 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .box-2 .text-3 {
    width: 333px;
    height: 474px;
  }

  .box-2 .text-3 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
  }

  .box-2 .image-2 {
    display: none;
  }

  .image-3 {
    display: block;
    position: absolute;
    top: 96%;
    right: 0%;
    z-index: 8888;
  }

  .rating {
    width: 100%;
    margin-top: 230px;
  }

  .rating h3 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
  }

  .rating p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    width: 335px;
    height: 115px;
  }

  .centered-content {
    width: 90%;
    left: 5%;

  }

  .centered-content .card {
    width: 335px;
    height: auto !important;
  }

  .cards {
    margin-top: 9px;
  }

  /* footer */
  footer {
   
    padding-left: 0; 
    position: relative;
    justify-content: center;
  }

  footer .footer-content {
    align-items: center;
  }

  footer .footer-content p {
    text-align: center;
    width: 325px;
  }

  .footer-centered h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    width: 329.25px;
  }

  .footer-centered p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 242px;
  }

  .btn-0 button {
    margin-left: 20px;
  }

  footer .footer-content {
    margin-left: 0;
  }

  footer .line {
    display: none;
  }

  .detl-1,
  .detl-3 {
    display: none;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-detalis {
    position: absolute;
    right: 23%;
    display: flex;
    width: auto;
    top: 48%;
  }

  .logo-in {
    display: none;
  }

  .logo-media {
    display: block;
  }

  .footer-card {
    width: auto;
  }

  .footer-detalis h4 {
    text-align: center;
  }

  .icons .icon {
    padding-right: 0;
  }
  .mid-foot {
    justify-content: center;
 
    align-items: center;


}
.text-foot p {
    text-align: center;
}
.text-content {
  
    margin-right: 110px;
}
}

@media screen and (min-width: 700px) and (max-width: 830px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 399px;
  }
.title-main  {
  width: 500px;
}
  .container .title-main h1 {
    font-size: 39px;
    line-height: 50px;
  }

  /* Start-Header */

  .logo-menu {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    top: 8%;
    padding: 20px;
    background-color:#687186;
    z-index: 4444;
    border-radius: 10px;
  }

  .header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menu {
    display: none;
  }

  .menu.show-menu {
    display: flex;
  }

  .featured-content {
    width: 100%;
    position: relative;
    left: 6%;
  }

  /* End-Header */

  .col-1 {
    margin: 10px;
  }

  .box {
    width: auto;
    height: auto;
  }

  .mid-page {
    left: -2%;
  }

  .mid-page .contnet {
    gap: 120px;
    padding: 20px;
  }

  .middle-section .box-2 {
 width: 90%;
    height: 1097px;
  }

  .box-2 .main-box-2 {

     
        gap: 58px;
        position: absolute;
        top: 3%;
        left: 14%;
  }

  .box-2 .title-box-2 h5 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .box-2 .text-3 {
    width: 430px;
    height: 398px;
  }

  .box-2 .text-3 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .box-2 .image-2 {

    top: 66%;
    left: 28%;
  }
  .box-2 .image-2 img {
    width: 551px;
    height: 401px;
  }
  .centered-content {
    width: 80%;
    left: 15%;
  }

/* ========/////////============ */


  /* Start-footer */
  footer {
   
    padding-left: 0; 
    position: relative;
    justify-content: center;
  }

  footer .footer-content {
    align-items: center;
  }

  footer .footer-content p {
    text-align: center;
    width: 325px;
  }

  .footer-centered h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    width: 329.25px;
  }

  .footer-centered p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 242px;
  }

  .btn-0 button {
    margin-left: 20px;
  }

  footer .footer-content {
    margin-left: 0;
  }

  footer .line {
    display: none;
  }

  .detl-1,
  .detl-3 {
    display: none;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-detalis {
    position: absolute;
    right: 36%;
    display: flex;
    width: auto;
    top: 48%;
  }

  .logo-in {
    display: none;
  }

  .logo-media {
    display: block;
  }

  .footer-card {
    width: auto;
  }

  .footer-detalis h4 {
    text-align: center;
  }

  .icons .icon {
    padding-right: 0;
  }
  .mid-foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.text-content {
  
    margin-right: 110px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 780px;

  }
.list {
    gap: 15px;
    padding: 2px;
}
  .featured-content {
    width: 100%;
    position: relative;
    left: 8%;
    display: flex;
  }
  .title-main {
    width: 500px;
  }
  .container .title-main h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .featured-content .content {
    width: 400px;
    margin-left: 47px;
  }
  .col-1 {
    margin: 10px;
  }

  .box {
    width: auto;
    height: auto;
  }

  .mid-page {
    left: 4%;
  }

  .mid-page .contnet {
    gap: 120px;
    padding: 20px;
  }

  .middle-section .box-2 {
    width: 96%;
  }

  .box-2 .main-box-2 {
    gap: 16px;
    top: 2%;
  }
  .box-2 .title-box-2 h5 {
    font-size: 30px;
  }

  .box-2 .text-3 {
    width: 55%;
  }

  .box-2 .image-2 {
    top: 35%;
    left: 50%;
  }

  .box-2 .image-2 img {
    height: 450px;
    width: 510px;
  }
  .centered-content {
    left: 26%;
    width: 55%;

  }  
  
  footer {
    padding-left: 0; 
    position: relative;
    justify-content: center;
  }

  footer .footer-content {
    align-items: center;
  }

  footer .footer-content p {
    text-align: center;
    width: 325px;
  }

  .footer-centered h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    width: 329.25px;
  }

  .footer-centered p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 242px;
  }

  .btn-0 button {
    margin-left: 20px;
  }

  footer .footer-content {
    margin-left: 0;
  }

  footer .line {
    display: none;
  }

  .detl-1,
  .detl-3 {
    display: none;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }

  .detl-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-detalis {
    position: absolute;
    right: 41%;
    display: flex;
    width: auto;

    top: 46%;
  }

  .logo-in {
    display: none;
  }

  .logo-media {
    display: block;
  }

  .footer-card {
    width: auto;
  }

  .footer-detalis h4 {
    text-align: center;
  }

  .icons .icon {
    padding-right: 0;
  }
  .mid-foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.text-content {
  
    margin-right: 110px;
}
}

@media screen and (min-width: 1420px) and (max-width: 1900px) {
  .title-main  {
    width: 800px;
  }
    .container .title-main h1 {
      font-size: 60px;
      line-height: 60px;
  
}
  main {
    right: 2%;
  }

  .featured-content {
    width: 100%;

    left: 1%;
  }

  .featured-content .content {
    align-items: center;
    justify-content: center;

    margin-left: 30px;
  }

  .mid-page {
    right: 3%;
  }

  .col-1 {
    display: flex;
    gap: 24px;
    width: 404px;
    margin: 10px;
  }

  .box {
    width: 1350px;
  }

  .middle-section .box-2 {
    width: 97%;
  }

  .box-2 .main-box-2 {
    left: 6%;
    gap: 0;
    top: 4%;
    width: 40%;

  }

  .box-2 .title-box-2 h5 {
    font-size: 30px;
  }

  .box-2 .text-3 {
    width: 97%;
  }
  .text-mid {
    margin-left: 20px;
  }
  .box-2 .image-2 {
    top: 27%;
    left: 50%;
  }


  .centered-content {
    width: 73%;
    left: 6%;


  }
  footer {
    margin-top: 95px;
  }
  footer .line {
    width: 58%;
    background-color: #3b454f;
    display: block;
    height: 1px;
    position: absolute;
    top: 20%;
    left: 32%;
}
.footer-detalis {
    position: absolute;
    right: 10%;
    display: flex;
    width: auto;
}
.footer-card {
    width: 683px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 48px;
}


}
@media screen and (min-width: 1900px) and (max-width: 1990px) {
  .title-main {
    width: 1220px;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    width: 1452px;
  }
  .featured-content {

    left: 20%;
}
.box-2 .image-2 {
  
    left: 65%;
}
.middle-section .box-2 {
    width: 2200px;
}
.centered-content {

    width: 2142px;
}
.footer-detalis {
    position: absolute;
    right: 29%;
}
.mid-foot {
   
    
    justify-content: space-evenly;
}

}
